
body{
    background:burlywood;
 
     background-attachment: fixed;
     font-family: 'Raleway', sans-serif;
   }

.container {
  width: 900px;
  margin: 0 auto ;

}

.perfil {
      text-align: center;
}

.fotoprincipal{
      border-width:  5px ;
      border-style: solid ;
      border-color: rgb(255, 255, 255);
      width: 250px;
      border-radius: 50%;
}

h1{
      margin-bottom: 0%;
      font-family: 'Tajawal', sans-serif;
      font-size: 40px;
   }
h2 {
    margin-top: 0%;
    color: rgb(73, 73, 73);
    font-style: italic;
    letter-spacing: -1;
    font-weight: 100;
}
.social-links {
   text-decoration: none;
}

.social-icons {
   width: 20px;
   margin-left: 15px;
}